name: crescendo_mobile
description: Offline-first Crescendo warmup and pitch analysis app.
publish_to: "none"
version: 0.1.0+2

environment:
  sdk: ">=3.2.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter
  record: ^5.0.5
  permission_handler: ^11.3.0
  wakelock_plus: ^1.2.4
  audioplayers: ^6.0.0
  path_provider: ^2.1.2
  sqflite: ^2.3.0
  path: ^1.8.3
  collection: ^1.18.0
  shared_preferences: ^2.2.3
  audio_session: ^0.1.16
  wav: ^1.2.1
  pitch_detector_dart: ^0.0.7
  google_fonts: ^6.1.0
  crypto: ^3.0.3
  get_it: ^9.2.0
  flutter_pitch_detection: ^1.3.1
  timezone: ^0.9.2

dev_dependencies:
  flutter_test:
    sdk: flutter
  integration_test:
    sdk: flutter
  flutter_lints: ^3.0.0
  sqflite_common_ffi: ^2.3.0
  flutter_launcher_icons: ^0.13.1

flutter:
  uses-material-design: true
  assets:
    - assets/icon.png
    - assets/
    - assets/audio/piano/
    - assets/audio/previews/
    - assets/audio/exercises/
    - assets/generated/exercise_xmap/

flutter_launcher_icons:
  image_path: "assets/purple_logo.png"
  remove_alpha_ios: true
  android: true
  ios: true
  web:
    generate: true
  macos:
    generate: true
  windows:
    generate: true
  linux:
    generate: true
