venv/
audio_files/
inter_take_analysis/audio_files/
webapp/uploads/
.env
.DS_Store

# Flutter
.dart-tool-home/
.pub-cache/hosted/pub.dev/_discoveryapis_commons-1.0.6/.dart_tool/
.pub-cache/hosted/pub.dev/_discoveryapis_commons-1.0.6/pubspec.lock
.vscode/

# Python cache
__pycache__/
**/__pycache__/
*.py[cod]
*$py.class
*.pyc
*.pyo
*.pyd
*.pycache

# CSVs and JSONs
vocal_analyzer/analysis_similarity.json
crescendo/data/
inter_take_analysis/takes/
experimental/uploads/
vocal_notes/vocal_notes_stats.csv

# Tests
tests/segmentation_debug/
